.notes-section {
  padding: 20px;
}
.notes-section h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: var(--anzhiyu-theme);
}
.notes-section ul {
  list-style: none;
  padding-left: 0;
}
.notes-section ul li {
  margin: 10px 0;
}
.notes-section ul li a {
  text-decoration: none;
  color: var(--anzhiyu-theme);
}
.notes-section ul li a:hover {
  text-decoration: underline;
  color: var(--anzhiyu-hovertext);
}
